<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 3</title>
    <script src="resources/jquery.min.js"></script>
    <link rel="stylesheet" href="resources/bootstrap.min.css">
    <link rel="stylesheet" href="resources/bootstrap-theme.min.css">
    <script src="resources/vue.js"></script>
    <script src="resources/vue-router.js"></script>

    <link rel="stylesheet" href="main.css">
</head>





<body>
    <div class="container text-center body-div" id="VueApp">
        <div class="row center">
            <h2>Sorting algorithms</h2>
        </div>
        <div class="row center">
            <input v-model="value" placeholder="enter number">
            <button v-on:click="addToList">Add</button>
            <button v-on:click="delToList">Remove</button>
        </div>
        <div class="row center table-div">
            <h6 id='h6_1'>List:</h6>
            <table class='text-center center' id='table1'>
                <tr>
                    <td v-for="item in items" v-text="item" style='background-color: rgb( 100, 180, 180);'></td>
                </tr>
            </table>
        </div>
        <div class="row center">
            <button v-on:click="bubbleSort" id='sort'>Bubble Sort</button>
            <button v-on:click="selectionSort" id='sort'>Selection Sort</button>
            <button v-on:click="insertionSort" id='sort'>Insertion Sort</button>
        </div>
        <div class="row center" id="print"></div>
        <table class='text-center center' id='table3'></table>
    </div>
</body>





<script src="resources/bootstrap.min.js"></script>
<script src="resources/jquery.min.js"></script>
<script src="app.js"></script>

</html>